.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 0 -50px;
    padding: 5px 7px;
    background-color: black;
    color: white;
    border: 1px solid #9facc6;
    border-radius: 7px;
    cursor: pointer;
}
.my-2{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.my-1{
    margin: 5px 0;;
}

.text-align{
   text-align:center ;
}